.contact-page {
    padding-top: var(--spacing-large);
}

.contact-grid {
    display: flex;
    gap: var(--spacing-large);
}

.form-wrapper {
    flex: 2;
    background-color: var(--color-card-background);
    padding: var(--spacing-large);
    border-radius: 8px;
    box-shadow: var(--box-shadow-subtle);
}

.contact-form label {
    display: block;
    margin-bottom: var(--spacing-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
}

.contact-form .required {
    color: var(--color-primary);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: var(--spacing-medium);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 1em;
    font-family: var(--font-body);
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 5px rgba(10, 11, 12, 0.5);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.contact-form textarea {
    resize: vertical;
}

.send-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
}

.info-details {
    flex: 1;
    background-color: var(--color-accent-bg);
    padding: var(--spacing-large);
    border-radius: 8px;
    box-shadow: var(--box-shadow-subtle);
}

.info-details h3 {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-border);
    padding-bottom: 5px;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.info-details h3:first-child {
    margin-top: 0;
}

.info-details p {
    margin-bottom: var(--spacing-small);
}

.social-links-contact {
    display: flex;
    gap: 15px;
    margin-top: var(--spacing-medium);

}

.social-links-contact a:hover img {
    opacity: 1;
}

.contact-form input:focus,
.contact-form textarea:focus,
.btn:focus {
    outline: 3px solid var(--color-primary);
    outline-offset: 2px;
}

.animate-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-right {
    transform: translateX(-50px);
}

.fade-left {
    transform: translateX(50px);
}

@media (max-width: 768px) {

    .page-container {
        padding-left: 0;
        padding-right: 0;
    }

    .contact-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-wrapper,
    .info-details {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .page-container {
        padding: 0 10px;
    }

    .form-wrapper,
    .info-details {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}